---
---
@import url("https://fonts.googleapis.com/css?family=Montserrat");@font-face {
    font-family: "Indivisa Text Sans-Regular";
    src: url("../fonts/Indivisa Text Sans-Regular.ttf")
}

$family-primary: "Indivisa Text Sans-Regular",sans-serif;
$primary: #ef2e31;
$link: #ef2e31;
// Import Main CSS file from theme
@import "main";

.navbar-item img {
    max-height: 2.75rem;
}

.menu-label {
    font-size : 1em;
}

.hero_image {
  width: 250px;           /* Ajuste la largeur (vous pouvez changer ce nombre) */
  height: 250px;          /* Ajuste la hauteur (doit être égale à la largeur) */
  object-fit: cover;      /* Magie ! Recadre l'image rectangulaire pour remplir le carré sans la déformer */
  border-radius: 50%;     /* Rend l'image parfaitement ronde */
  border: 20px solid white; /* Remet votre bordure blanche */
}
