---
---
@import url("https://fonts.googleapis.com/css?family=Montserrat");@font-face {
    font-family: "Indivisa Text Sans-Regular";
    src: url("../fonts/Indivisa Text Sans-Regular.ttf")
}

$family-primary: "Indivisa Text Sans-Regular",sans-serif;
$primary: #ef2e31;
$link: #ef2e31;
// Import Main CSS file from theme
@import "main";

.navbar-item img {
    max-height: 2.75rem;
}

.menu-label {
    font-size : 1em;
}

/* Rend la photo de profil ronde dans la bannière principale */
.hero-banner .image.is-1by1 img {
  border-radius: 50%;
  object-fit: cover;
}

/* Limite la taille de l'image et la centre dans sa colonne */
.hero-banner .image.is-1by1 {
  max-width: 100px; /* Vous pouvez modifier ce nombre selon vos goûts (ex: 200px, 300px) */
  margin: 0 auto;   /* Permet de garder la photo bien centrée au lieu d'être collée à gauche */
}
